//ANIMATION COEUR PAGE ACCUEIL
@keyframes heartAnimation {
    from {
        transform: scale(0);
        transform-origin: bottom;
        opacity: 0;

    }

    to {
        transform: scale(1);
        background: linear-gradient(0deg, rgba(255, 121, 218, 1) 0%, rgba(147, 86, 220, 1) 75%, rgba(147, 86, 220, 1) 100%);
        color: transparent;
        background-clip: text;
        opacity: 1;
    }
}

//ANIMATION MENU
@keyframes menu {
    from {
        transform: translateY(-10px);
        transform: scale(0.6);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        transform: scale(1);
        opacity: 1;
    }
}

//ANIMATION CERCLE 
@keyframes circle {
    from {
        transform: rotate(0);
    }


    to {
        transform: rotate(360deg);
    }
}

@keyframes vert {
    from {
        width: 0px;

    }

    to {
        width: 60px;
    }
}