///////ACCUEUIL///////////

//MAIN - POSITION/INFOS
@mixin alignement {
    display: flex;
    justify-content: center;
    align-items: center
}

//MAIN - FONCTIONNEMENT 
@mixin fonctionnementMenu {

    background-color: rgb(246, 246, 246);
    padding: 20px 0 20px 10px;
    border-radius: 25px;
    position: relative;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.2);
}

//MAIN - NUMERO (1,2,3)
@mixin number {
    position: absolute;
    top: 18px;
    left: -10px;
    background-color: #9356DC;
    padding: 5px 10px;
    border-radius: 100%;
    color: white;
}

//MAIN - PLATS 
@mixin choixModification {
    margin-left: 20px;
    display: flex;
    align-items: center;

}

//SECTION - CARD 
@mixin cardImg {
    width: 100%;
    height: 220px;
    object-fit: cover;

}

////////PAGE //////////

//HEADER - FLECHE RETOUR 
@mixin fleche {
    font-size: 25px;
    color: rgb(66, 64, 64);
    padding-right: 150px;
    position: absolute;
    left: 20px;
}

// CARTE MENU
@mixin menuGlobal {
    background: rgb(246, 246, 246);
    border-radius: 33px;
    position: relative;
    z-index: 2;
    height: auto;
    min-width: 300px;
    top: -30px;
    padding: 10px 20px;
}

//ALIGNEMENT TITRE+COEUR
@mixin titreCoeur {
    display: flex;
    align-items: center;


}

//COEUR
@mixin heart {
    font-size: 25px;
    margin-left: 50px;
}

//TITRE H2
@mixin titreH2 {

    font-size: 1.7em;
    font-family: 'Shrikhand', sans-serif;
    font-weight: normal;
}



@mixin titrePlats {
    font-family: $fontRoboto;
    font-weight: normal;
    margin: 0;
    padding-bottom: 7px;
}

@mixin BordurePlats {
    background-color: rgb(153, 226, 208);
    width: 50px;
    height: 4px;
}