@mixin alignement {
    display: flex;
    justify-content: center;
    align-items: center
}

@mixin fonctionnementMenu {

    background-color: rgb(246, 246, 246);
    padding: 20px 0 20px 10px;
    border-radius: 25px;
    position: relative;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.2);
}

@mixin number {
    position: absolute;
    top: 18px;
    left: -10px;
    background-color: #9356DC;
    padding: 5px 10px;
    border-radius: 100%;
    color: white;
}

@mixin choixModification {
    margin-left: 20px;
    display: flex;
    align-items: center;

}

@mixin cardImg {
    width: 100%;
    height: 220px;
    object-fit: cover;

}