@import 'sass/abstracts/mixins';
@import 'sass/abstracts/variables';
@import 'sass/abstracts/animations';

////////BASE///////////////////
@import "sass/base/normalize";
@import "sass/base/typography";

///////LAYOUTS//////////////////
@import "sass/layouts/header";
@import 'sass/layouts/deskop';
@import'sass/layouts/footer';
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');


* {
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 243, 243);
    margin: 0 auto;
    min-width: 300px;

}

a {
    text-decoration: none;
    font-family: $fontRoboto;
}

////////////////HEDER///////////
header {
    align-items: center;
    position: relative;



    .fa-arrow-left {
        @include fleche;
    }

}

//////////IMAGE PRINCIPALE////////////////
.img-primary {
    width: 100%;
    height: 300px;
    object-fit: cover;
    z-index: 1;
}


///////////////////////CARTE//////////////////
main {

    @include menuGlobal;


    .titre_principal {
        @include titreCoeur;


        h2 {
            @include titreH2;
        }
    }

    .fa-heart {
        @include heart;
    }
}

h3 {
    @include titrePlats;


}

.border-color {
    @include BordurePlats;
}

.card {

    @include Plats;


}

.card--modif {
    width: 74%;
}

.information-menu {
    margin-top: 30px;
}

.annimation-color {
    background-color: #99E2D0;
    width: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-circle-check {
    display: flex;
    color: white;
    font-size: 25px;
    align-items: center;
}


.prix {
    margin: 15px;
    font-weight: bold;

}

.btn {

    background: linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
    width: 250px;
    border-radius: 35px;
    margin: 40px auto;


    p {

        padding: 12px 20px;
        color: white;
        text-align: center;

    }

}

.card:hover .annimation-color .fa-circle-check {
    animation: circle 500ms;
}

.card:hover .annimation-color {
    animation: vert 650ms forwards;

    opacity: 1;
}



@keyframes circle {
    from {
        transform: rotate(0);
    }


    to {
        transform: rotate(360deg);
    }
}

@keyframes vert {
    from {
        width: 0px;

    }

    to {
        width: 60px;
    }
}