@import 'sass/abstracts/mixins';
@import 'sass/abstracts/variables';
@import 'sass/abstracts/animations';

////////BASE///////////////////
@import "sass/base/normalize";
@import "sass/base/typography";

///////LAYOUTS//////////////////
@import "sass/layouts/header";
@import 'sass/layouts/deskop';
@import'sass/layouts/footer';
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');


* {
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 243, 243);
    margin: 0 auto;
    min-width: 300px;

}

a {
    text-decoration: none;
    font-family: $fontRoboto;
}

////////////////HEDER///////////
header {
    align-items: center;
    position: relative;



    .fa-arrow-left {
        @include fleche;
    }

}

//////////IMAGE PRINCIPALE////////////////
.img-primary {
    width: 100%;
    height: 300px;
    object-fit: cover;
    z-index: 1;
}


///////////////////////CARTE//////////////////
main {

    @include menuGlobal;


    .titre_principal {
        @include titreCoeur;


        h2 {
            @include titreH2;
        }
    }

    .fa-heart {
        @include heart;
    }
}

h3 {
    @include titrePlats;


}

.border-color {
    @include BordurePlats;
}

.card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 0.1);
    max-width: 100%;
    height: 75px;
    margin: 20px 0;
    opacity: 0;

    &.c1 {
        animation: menu 0.5s ease 100ms forwards;
    }

    &.c2 {
        animation: menu 0.5s ease 300ms forwards;
    }

    &.c3 {
        animation: menu 0.5s ease 500ms forwards;
    }

    &.c4 {
        animation: menu 0.5s ease 700ms forwards;
    }

    &.c5 {
        animation: menu 0.5s ease 900ms forwards;
    }

    &.c6 {
        animation: menu 0.5s ease 1.1s forwards;
    }

    &.c7 {
        animation: menu 0.5s ease 1.3s forwards;
    }

    &.c8 {
        animation: menu 0.5s ease 1.5s forwards;
    }

    &.c9 {
        animation: menu 0.5s ease 1.7s forwards;
    }


    .card--modif {
        padding: 15px 10px;


    }

    h4 {
        margin: 0;
        font-family: $fontRoboto;
        font-size: 1.1em;
    }


    .ellipse {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    p {
        margin-top: 10px;
        font-family: $fontRoboto;
    }


}

.information-menu {
    display: flex;
    justify-content: space-between;
}

.prix {
    margin: 15px;
    font-weight: bold;




}

.btn--primary {

    background: linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
    width: 250px;
    border-radius: 35px;
    margin: 40px auto;


    p {

        padding: 12px 20px;
        color: white;
        text-align: center;

    }

}