////////////MIXIN////////////////////////////

@mixin alignement {
    display: flex;
    justify-content: center;
    align-items: center
}

@mixin fonctionnementMenu {

    background-color: rgb(246, 246, 246);
    padding: 20px 0 20px 10px;
    border-radius: 25px;
    position: relative;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.2);
}

@mixin number {
    position: absolute;
    top: 18px;
    left: -10px;
    background-color: #9356DC;
    padding: 5px 10px;
    border-radius: 100%;
    color: white;
}

@mixin choixModification {
    margin-left: 20px;
    display: flex;
    align-items: center;

}

////////////FONT////////////////
$fontRoboto: 'Roboto', sans-serif;



/////////////////////////////////////////////////////

.position {
    @include alignement;

    .fa-location-dot {
        font-size: 20px;
    }


}


.menu-principal {
    background-color: #fafafa;
    @include alignement;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 30px;



    h2 {
        text-align: center;
        padding: 40px 0;
        margin: 0;
    }

    p {
        margin: 0;
        font-family: $fontRoboto;
        font-size: 1.1em;
        text-align: center;
        padding-bottom: 10px;
        font-weight: 300;
    }

    .btn--primary {

        background: linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);

        border-radius: 35px;

        h3 {
            margin: 0;
            padding: 12px 20px;
            color: white;

        }
    }
}

#fonctionnement-general {
    background-color: #fff;
    padding: 20px;


    .choix-fonctionnement {
        @include fonctionnementMenu;
        margin-bottom: 20px;

    }

    .number-color {
        @include number;
    }

    h4 {
        font-family: $fontRoboto;
        margin: 0;
        padding-left: 10px;
    }

    .choix--modification {
        @include choixModification;
    }



    .fa-mobile-screen-button,
    .fa-list-ul,
    .fa-store {
        color: #7e7e7e;
        margin: 0 10px;
        font-size: 25px;
    }

    .fa-store {
        color: #9356DC;
    }
}