header {
    background-color: #fff;
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 9px rgb(0 0 0 / 0.2);

    h1 {
        font-family: 'Shrikhand', cursive;
        margin: 0;
    }
}